<div class="margin">


    @if (!isLoggedIn) {
        <div class="field-container">
            <h2 mat-dialog-title>Log In</h2>
        </div>
        
        <form [formGroup]="form" (submit)="submitForm()">

            <div class="field-container">
                <mat-form-field appearance="outline">
                    <mat-label>Email:</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
            </div>

            <div class="field-container">
                <mat-form-field appearance="outline">
                    <mat-label>Password:</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
            </div>
        
            <div class="field-container">
            <button mat-flat-button color="primary" [disabled]="!form.valid" type="submit">Log In</button>
            </div>

        </form>    
    }
    @else {
        <div class="field-container">
            <h3>You are already Logged In</h3>
        </div>
    }
</div>