

@if(questions != null){
    <mat-selection-list #questionsList  (selectionChange)="modifySelection($event)">
        @for (question of questions.data; track question) {
          <mat-list-option [value]="question" [selected]="isSelected(question.id)">{{question.questionText}}</mat-list-option>
        }
    </mat-selection-list>
}

@if(isLoading){
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

@if(questions != null){
    <mat-paginator [pageSizeOptions]="[5]"
        [hidePageSize]="true"
        showFirstLastButtons
        (page)="onChangePage($event)"
        [length]="questions.totalRecords">
    </mat-paginator>    
}
