<h3>{{ quiz.name }}</h3>

<div class="component-container">
  <div *ngIf="isLoading" class="loading-shade">
    <mat-spinner></mat-spinner>
  </div>

  <app-error *ngIf="isError" [message]="errorMessage"></app-error>

  <mat-stepper linear *ngIf="quiz">
    <mat-step label="Quiz" state="quiz">
      <p>{{ quiz.description }}</p>
      <p>Press next begin.</p>
      <div class="buttons-container-left">
        <button mat-stroked-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step
      *ngFor="let question of questions; let i = index"
      [completed]="isQuestionAnswered(i)"
      label="Question i"
      state="question"
    >
      <ng-template matStepLabel>{{ i + 1 }}</ng-template>
      <p>{{ question.text }}</p>
      <mat-radio-group
        class="form-container"
        (change)="onAnswerSelect(question.id, $event.value)"
        aria-label="Select an option"
      >
        <mat-radio-button
          *ngFor="let answer of answers[question.id]"
          [value]="answer.id"
        >
          {{ answer.text }}</mat-radio-button
        >
      </mat-radio-group>
      <div class="buttons-container-left">
        <button mat-stroked-button matStepperPrevious>Back</button>
        <div
          matTooltip="Answer the current question to continue."
          [matTooltipDisabled]="isQuestionAnswered(i)"
        >
          <button
            mat-stroked-button
            matStepperNext
            [disabled]="!isQuestionAnswered(i)"
          >
            Next
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step label="Complete" state="publish">
      <p>Congratulations!</p>
      <p>You have reached the end of {{ quiz.name }}.</p>
      <p>Press submit to see your score.</p>
      <div class="buttons-container-left">
        <mat-spinner
          *ngIf="isInProgress"
          diameter="40"
          mode="indeterminate"
        ></mat-spinner>
        <button *ngIf="!isInProgress" mat-stroked-button matStepperPrevious>
          Back
        </button>
        <button *ngIf="!isInProgress" mat-stroked-button (click)="onSubmit()">
          Submit
        </button>
      </div>
    </mat-step>

    <ng-template matStepperIcon="quiz">
      <mat-icon>quiz</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="question">
      <mat-icon>question_mark</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="publish">
      <mat-icon>publish</mat-icon>
    </ng-template>
  </mat-stepper>
</div>
