<header>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Quiz Game</span>

    <span class="spacer"></span>

    <app-authentication></app-authentication>
    <a mat-icon-button target="_blank" href="https://github.com/ManuelE-Osorio">
      <mat-icon svgIcon="github" aria-hidden="false"></mat-icon>
    </a>
    <a mat-icon-button target="_blank" href="https://linkedin.com/in/manuel-osorio-0504a5222/">
      <mat-icon svgIcon="linkedin" aria-hidden="false"></mat-icon>
    </a>
  </mat-toolbar>
</header>



<main>
    <mat-sidenav-container  class="main-container" >
      
      <mat-sidenav #sidenav mode="over">
        @if(isAdmin){
          <div>
            <button mat-flat-button routerLink="admin" (click)="sidenav.close()" color="primary" class="full-width">
              <mat-icon>admin_panel_settings</mat-icon>
              Admin
            </button>
          </div>
        }
        
        @if(isUser){
          <div>
            <button mat-flat-button routerLink="user" (click)="sidenav.close()" color="primary" class="full-width">
              <mat-icon>person</mat-icon>
              User
            </button>
          </div>
        }
      </mat-sidenav>

      <mat-sidenav-content >
        <router-outlet />
      </mat-sidenav-content>
    
    </mat-sidenav-container>
</main>

<footer class="footer">
  <p class="footer-text">
    Created by <a href="https://github.com/ManuelE-Osorio">ManuelE-Osorio</a> as a proyect of <a href="https://www.thecsharpacademy.com">The CSharp Academy</a>
  </p>
</footer>
