.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100px;
  margin: 8px 8px 0px 8px;
}

.footer{
  height: 50px;
  background: gray;

}

.footer-text{
  margin-left: 40px;
  padding-top: 15px;
  opacity: 50%;
}

.main-container{
  min-height: 600px;
}