<h2 mat-dialog-title>New Question</h2>
<mat-dialog-content>
  
  <!-- <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->

  <form [formGroup]="form">

    <mat-form-field appearance="outline">
        <mat-label>Question:</mat-label>
        <input type="text" matInput formControlName="questionText">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Question Image:</mat-label>
      <input type="url" matInput formControlName="questionImage">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Timeout:</mat-label>
      <input type="number" matInput formControlName="secondsTimeout">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Relative Score:</mat-label>
        <input type="number" matInput formControlName="relativeScore">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category:</mat-label>
      <input type="text" matInput formControlName="category">
    </mat-form-field>

    <div [formGroup]="form.controls.correctAnswer">
      <h3>Answer</h3>
      <mat-form-field appearance="outline">
        <mat-label>Text:</mat-label>
        <input type="text" matInput formControlName="answerText">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Image:</mat-label>
        <input type="text" matInput formControlName="answerImage">
      </mat-form-field>
    </div>

    <div>
      <h3>Wrong Answers</h3>
      <button mat-mini-fab color="warn" (click)="removeWrongAnswer()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="addWrongAnswer()">
        <mat-icon>add</mat-icon>
      </button>

      @for (answer of form.controls.incorrectAnswers.controls; track $index) {
        <div [formGroup]="answer">
        <mat-form-field appearance="outline">
          <mat-label>Text:</mat-label>
          <input type="text" matInput formControlName="answerText">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Image:</mat-label>
          <input type="text" matInput formControlName="answerImage">
        </mat-form-field>
        </div> 
      }
    </div>

    @if(!createdSuccessful) {
      <mat-error >{{errorMessage}}</mat-error>
    }
  
  </form>  

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button color="warn" mat-dialog-close>Close</button>
  <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="submitForm()" >Create</button>
</mat-dialog-actions>
