<div class="margin">

    @if(gameForm != null){
        <mat-stepper [orientation]="(stepperOrientation | async)!" linear>
            <mat-step [stepControl]="gameForm" label="Fill Game details">
    
                <ng-template matStepContent>
                    <h2>Quiz Basic Information:</h2>
                    <form [formGroup]="gameForm">
                        <div class="flex-container">
                            <mat-form-field appearance="fill"  class="big-field">
                                <mat-label>Name</mat-label>
                                <input matInput formControlName="name" type="text">
                                @if(gameForm.controls.name.invalid && (gameForm.controls.name.dirty || gameForm.controls.name.touched)) {
                                    <mat-error>        
                                      Name length must be between 3 and 100 characters.
                                    </mat-error>
                                  }
                            </mat-form-field>
                        </div>
    
                        <div class="flex-container">
                            <mat-form-field appearance="fill"  class="big-field">
                                <mat-label>Passing Score:</mat-label>
                                <input matInput formControlName="passingScore" type="number">
                                @if(gameForm.controls.passingScore.invalid && (gameForm.controls.passingScore.dirty || gameForm.controls.passingScore.touched)) {
                                    <mat-error>        
                                      Passing Score must be an integer betweeen 0 and 100.
                                    </mat-error>
                                  }
                            </mat-form-field>
                        </div>

                        <div class="flex-container">
                            <mat-form-field appearance="fill"  class="big-field">
                                <mat-label>Due Date:</mat-label>
                                <input matInput formControlName="dueDate" type="datetime-local">
                                @if(gameForm.controls.dueDate.invalid && (gameForm.controls.dueDate.dirty || gameForm.controls.dueDate.touched)) {
                                    <mat-error>        
                                      Due Date must be in a future date.
                                    </mat-error>
                                  }
                            </mat-form-field>
                        </div>

                        <div>
                            <button mat-flat-button color="warn" (click)="return()" class="field-button">Return</button>
                            <button mat-flat-button matStepperNext [disabled]="!gameForm.valid" color="primary" class="field-button">Next</button>
                        </div>
                    </form>
                </ng-template>
            </mat-step>

            <mat-step label="Add Quiz">
                <ng-template matStepContent>
                    <h2>Assigned Users:</h2>
    
                    <div class="flex-container">
    
                        <div>
                            <h4>Quiz List</h4>
                            <app-quiz-list #quizList [selectedQuiz]="currentQuiz"></app-quiz-list>
                        </div>
    
                    </div>
    
                    <div>
                        <button mat-flat-button color="warn" matStepperPrevious class="field-button">Back</button>
                        <button mat-flat-button color="primary" matStepperNext class="field-button">Next</button>
                    </div>
                </ng-template>
            </mat-step>
    
            <mat-step label="Assign Users">
                <ng-template matStepContent>
                    <h2>Assigned Users:</h2>
    
                    <div class="flex-container">
    
                        <div>
                            <mat-list>
                                <h4>Selected Users</h4>
                                @if(userList != null){
                                    @for (user of userList.totalSelectedUsers; track $index) {
                                        <mat-list-item>{{user.alias}}</mat-list-item>
                                    }
                                }
                            </mat-list>
                        </div>
                        
                        <span class="spacer"></span>
                        <div>
                            <h4>User List</h4>
                            <app-user-list #userList [totalSelectedUsers]="currentList"></app-user-list>
                        </div>
    
                    </div>
    
                    <div>
                        <button mat-flat-button color="warn" matStepperPrevious class="field-button">Back</button>
                        <button mat-flat-button color="primary" matStepperNext class="field-button">Next</button>
                    </div>
                </ng-template>
            </mat-step>
    
            <mat-step label="Review">
                <ng-template matStepContent>
                    
                    <div>
                        <mat-list>
                            <mat-list-item><strong>Name:</strong> {{gameForm.value.name}}</mat-list-item>
                            <mat-list-item><strong>Passing Score:</strong> {{gameForm.value.passingScore}}</mat-list-item>
                            <mat-list-item><strong>Passing Score:</strong> {{gameForm.value.dueDate | date}}</mat-list-item>
                            <mat-list-item><strong>Quiz:</strong> {{quizList.selectedQuiz?.name}}</mat-list-item>
                        </mat-list>
    
                    </div>
                    
                    <div>
                        <mat-list>
                            <mat-list-item><strong>Assigned Users:</strong> </mat-list-item>
                            @for (user of userList.totalSelectedUsers; track $index) {
                                <mat-list-item>{{user.alias}}</mat-list-item>
                            }
                        </mat-list>
                    </div>
    
                    <div>
                        <button mat-flat-button color="warn" matStepperPrevious class="field-button">Back</button>
                        @if(this.id == 0){
                            <button mat-flat-button color="primary" (click)="submitGame()" class="field-button">Create</button>
                        }
                        @else {
                            <button mat-flat-button color="primary" (click)="submitGame()" class="field-button">Update</button>
                        }
                        
                    </div>
                </ng-template>
            </mat-step>
        </mat-stepper>
        
    }
    @else {
        <mat-spinner mode="indeterminate"></mat-spinner>
    }
    
</div>