<mat-toolbar class="mat-elevation-z1">
    <a class="header-brand" routerLink="/">
      <img class="header-logo" src="quiz-game-logo-nobg-sm.png" alt="App Logo" />
      <span>Quiz Game</span>
    </a>
    <span class="header-spacer"></span>
    <a mat-icon-button  routerLink="/" matTooltip="Home" matTooltipShowDelay="1000" aria-label="Home button">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-icon-button  routerLink="/games" matTooltip="Game History" matTooltipShowDelay="1000" aria-label="Game History button">
      <mat-icon>history</mat-icon>
    </a>
    <a mat-icon-button  routerLink="/quizzes" matTooltip="Manage Quizzes" matTooltipShowDelay="1000" aria-label="Manage Quizzes button">
      <mat-icon>settings</mat-icon>
    </a>
  </mat-toolbar>
  