<div class="questiondialog" *ngFor="let question of paginatedQuestions; index as i">
    <mat-dialog-content>
      <p class="questiondialog">Question {{question.id}}: {{ question.quizQuestion }}</p>
      <div>
        <button mat-raised-button id="btnAnswer1" color="accent" style="margin-right: 15px; margin-bottom: 7px; display: flex; align-items: center; justify-content: center;" (click)="selectAnswer(i, 1)" [disabled]="question.isAnswerGiven">Option 1: {{ question.answer1 }}</button>
        <button mat-raised-button id="btnAnswer2" color="accent" style="margin-right: 15px; margin-bottom: 7px; display: flex; align-items: center; justify-content: center;" (click)="selectAnswer(i, 2)" [disabled]="question.isAnswerGiven">Option 2: {{ question.answer2 }}</button>
        <button mat-raised-button id="btnAnswer3" color="accent" style="margin-right: 15px; margin-bottom: 7px; display: flex; align-items: center; justify-content: center;" (click)="selectAnswer(i, 3)" [disabled]="question.isAnswerGiven">Option 3: {{ question.answer3 }}</button>
      </div>
    </mat-dialog-content>
</div>
<div *ngIf="questions.length > 3">
    <mat-paginator class="questiondialog" [length]="questions.length" [pageSize]="3" (page)="onPageChange($event)">
    </mat-paginator>
</div>