.questiondialog{
    background-color: #3f51b5;
    color: white;
    border-color: white;
    border-width: thin;
    
}

.questiondialogbutton{
    background-color: #ff4081;
    color: white;
    display: flex; align-items: center; justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .option-label {
    color: white;
  }

  .option-button{
    margin-right: 15px; margin-bottom: 7px; display: flex; align-items: center; justify-content: center;
  }