<div class="questiondialog">
    <div *ngFor="let question of paginatedQuestions; index as i;">
        <mat-dialog-content>
          <p class="questiondialog">Question {{question.id}}: {{ question.quizQuestion }}</p>
          <div>
            <div class="button-container">
                <button mat-raised-button id="btnAnswer1" class="option-button" color="accent" (click)="selectAnswer(question.id, 1)" [disabled]="question.isAnswerGiven">Option 1: {{ question.answer1 }}</button>
                <label for="btnAnswer1" class="option-label" *ngIf="question.selectedAnswerId === 1">{{ question.selectedAnswerIsCorrect? 'Correct!' : 'Wrong!' }}</label>
            </div>
            <div class="button-container">
                <button mat-raised-button id="btnAnswer2" class="option-button" color="accent" (click)="selectAnswer(question.id, 2)" [disabled]="question.isAnswerGiven">Option 2: {{ question.answer2 }}</button>
                <label for="btnAnswer2" class="option-label" *ngIf="question.selectedAnswerId === 2">{{ question.selectedAnswerIsCorrect? 'Correct!' : 'Wrong!' }}</label>
            </div>
            <div class="button-container">
                <button mat-raised-button id="btnAnswer3" class="option-button" color="accent" (click)="selectAnswer(question.id, 3)" [disabled]="question.isAnswerGiven">Option 3: {{ question.answer3 }}</button>
                <label for="btnAnswer3" class="option-label" *ngIf="question.selectedAnswerId === 3">{{ question.selectedAnswerIsCorrect? 'Correct!' : 'Wrong!' }}</label>
            </div>
          </div>
        </mat-dialog-content>
    </div>

    <div *ngIf="questions.length > 3">
        <mat-paginator class="questiondialog" [length]="questions.length" [pageSize]="3" (page)="onPageChange($event)">
        </mat-paginator>
    </div>

    <div *ngIf="isLastPage" class="submitbutton">
        <button mat-raised-button color="accent" (click)="submitAnswers()">Submit Answers</button>
    </div>
</div>
