.error-card {
    margin-bottom: 2rem;
}

.error-header {
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    padding-bottom: 1rem;
}

.mat-mdc-card-title {
    padding-left: 1rem;
}