.card {
    max-width: 400px;
    background-color: #3f51b5;
    color: white;
    border-color: white;
    border-width: thin;
  }

.mat-card-content {
    margin-top: 10px;
}

.mat-card-title {
    text-align: center;
}

.mat-card-actions {
    color: white;
}

