<div class="margin">
    <div class="container">

        <button mat-flat-button color="primary" routerLink='..' color="warn" class="field-button">Return</button>
        <button mat-flat-button color="primary" routerLink='creation/0' class="field-button">Game Creation</button>

    </div>

@if(games != null) {

    <mat-table [dataSource]="data" class="container-table">
        <mat-header-row *matHeaderRowDef="columnsToDisplay" class="table-row"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="table-row"></mat-row>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef class="id-cell">Id</mat-header-cell>
            <mat-cell *matCellDef="let game" class="id-cell">{{game.id}}</mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef class="text-cell">Name</mat-header-cell>
            <mat-cell *matCellDef="let game" class="text-cell">{{game.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef class="button-cell">  </mat-header-cell>
            <mat-cell *matCellDef="let game" class="button-cell">  
                <button mat-icon-button (click)="deleteGameDialog(game.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button routerLink='creation/{{game.id}}' >
                    <mat-icon>info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

    </mat-table>
    
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-paginator [pageSizeOptions]="[5]"
        [hidePageSize]="true"
        showFirstLastButtons
        (page)="onChangePage($event)"
        [length]="games.totalRecords">
    </mat-paginator>

}
@else {
    <mat-spinner mode="indeterminate"></mat-spinner>
}

</div>