<div class="margin">

@if(form != null) {
  <div class="field-container">
    <h2>Question Details</h2>
  </div>
  <form [formGroup]="form">
    
    <div class="field-container">
      <mat-form-field appearance="fill" class="big-field">
          <mat-label>Question:</mat-label>
          <textarea matInput formControlName="questionText"> </textarea>
          
          @if(form.controls.questionText.invalid && (form.controls.questionText.dirty || form.controls.questionText.touched)) {
            <mat-error>        
              Question length must be between 3 and 500 characters.
            </mat-error>
          }
      </mat-form-field>

    </div>

    <div class="field-container">
      <mat-form-field appearance="fill" class="field">
        <mat-label>Question Image:</mat-label>
        <input type="url" matInput formControlName="questionImage">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Timeout:</mat-label>
        <input type="number" matInput formControlName="secondsTimeout">
        @if(form.controls.secondsTimeout.invalid && (form.controls.secondsTimeout.dirty || form.controls.secondsTimeout.touched)) {
          <mat-error>        
            Timeout must be between 5 and 60 seconds.
          </mat-error>
        }

      </mat-form-field>

    </div>

    <div class="field-container">
      <mat-form-field appearance="fill" class="field">
          <mat-label>Relative Score:</mat-label>
          <input type="number" matInput formControlName="relativeScore">
          @if(form.controls.relativeScore.invalid && (form.controls.relativeScore.dirty || form.controls.relativeScore.touched)) {
          <mat-error>        
            Relative Score must be between 0 and 60.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Category:</mat-label>
        <input type="text" matInput formControlName="category">
        @if(form.controls.category.invalid && (form.controls.category.dirty || form.controls.category.touched)) {
          <mat-error>        
            Category length must be between 3 and 500 characters.
          </mat-error>
        }
      </mat-form-field>


    </div>

    <div class="field-container">
      <h3>Answer</h3>
    </div>

    <div [formGroup]="form.controls.correctAnswer" class="field-container">

      <mat-form-field appearance="fill" class="field">
        <mat-label>Text:</mat-label>
        <input type="text" matInput formControlName="answerText">
        @if(form.controls.correctAnswer.controls.answerText.invalid
          && (form.controls.correctAnswer.controls.answerText.dirty || form.controls.correctAnswer.controls.answerText.touched)) { 
          <mat-error>        
            Answer length must be between 1 and 500 characters.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label>Image:</mat-label>
        <input type="text" matInput formControlName="answerImage">
      </mat-form-field>
    </div>

    <div class="field-container">
      <h3>Wrong Answers</h3>
      <span class="spacer"></span>
      <button mat-mini-fab color="warn" (click)="removeWrongAnswer()" class="field-button">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-mini-fab color="primary" (click)="addWrongAnswer()" class="field-button">
        <mat-icon>add</mat-icon>
      </button>
    </div>

      @for (answer of form.controls.incorrectAnswers.controls; track $index) {
        <div [formGroup]="answer" class="field-container">
          <h4>{{$index + 1}})</h4>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Text:</mat-label>
          <input type="text" matInput formControlName="answerText">
          @if(answer.controls.answerText.invalid
          && (answer.controls.answerText.dirty || answer.controls.answerText.touched)) { 
          <mat-error>        
            Answer length must be between 1 and 500 characters.
          </mat-error>
        }
        </mat-form-field>
        <mat-form-field appearance="fill" class="field">
          <mat-label>Image:</mat-label>
          <input type="text" matInput formControlName="answerImage">
        </mat-form-field>
        </div> 
      }
    

    @if(!updateSuccessful) {
      <mat-error >{{errorMessage}}</mat-error>
    }
  
  </form>  

  <div class="field-container">
    <button mat-flat-button color="accent" class="field-button" (click)="return()">Return</button>
    @if(this.id == 0){
      <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="submitForm()" class="field-button">Create</button>  
    }
    @else {
      <button mat-flat-button color="primary" [disabled]="!form.valid" (click)="submitForm()" class="field-button">Save Changes</button>  
    }
    <span class="spacer"></span>
  <button mat-flat-button color="warn" (click)="deleteQuestionDialog()" class="field-button">Delete</button>
  </div>
}
@else {
  <mat-spinner mode="indeterminate"></mat-spinner>
}


</div>


  


