.id-cell{
    flex: 5%
}

.text-cell{
    flex: 25%
}

.button-cell{
    flex: 20%;
}

.container-table{
    justify-content: center;
}

.table-row{
    flex-wrap: wrap;
    display: flex;
}

.margin{
    margin: 20px;
}

.container{
    padding-bottom: 20px;
    display: flex;
    justify-content: start;
}