.mat-mdc-table.mdc-data-table__table {
    background-color: #3f51b5;
    color: white;
}

.mat-mdc-table.mdc-data-table__table .mat-mdc-header-cell {
    background-color: #3f51b5;
    color: white;
}

.mat-mdc-table.mdc-data-table__table .mat-mdc-cell {
    color: white;
}

.mat-mdc-table {
    tr:not(.mat-mdc-header-row):hover {
      background-color: var(--mat-table-row-item-outline-color);
    }
  }

.questiondialog{
    background-color: #3f51b5;
    color: white;
    border-color: white;
    border-width: thin;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

.questiondialogbutton{
    background-color: #ff4081;
    color: white;
    display: flex; align-items: center; justify-content: center;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

.player-input {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 5px;
}
.option-label {
    color: white;
  }

  .option-button{
    margin-right: 15px; margin-bottom: 7px; display: flex; align-items: center; justify-content: center;
  }

  .submitbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 60px;
    padding: 10px;
}