<div class="margin">
    <div class="container">
        <button mat-flat-button color="primary" routerLink=".." color="warn" class="field-button">Return</button>
        <button mat-flat-button color="primary" routerLink='details/0' class="field-button">Add</button>
    </div>

@if(questions != null) {

    <mat-table [dataSource]="data" class="container-table">
        <mat-header-row *matHeaderRowDef="columnsToDisplay" class="table-row"></mat-header-row>
        <mat-row *matRowDef="let myRowData; columns: columnsToDisplay" class="table-row"></mat-row>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef class="id-cell"> Id </mat-header-cell>
            <mat-cell *matCellDef="let question" class="id-cell"> {{question.id}} </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="questionText">
            <mat-header-cell *matHeaderCellDef class="text-cell"> Question </mat-header-cell>
            <mat-cell *matCellDef="let question" class="text-cell"> {{question.questionText}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="correctAnswer">
            <mat-header-cell *matHeaderCellDef class="text-cell"> Correct Answer </mat-header-cell>
            <mat-cell *matCellDef="let question" class="text-cell"> {{question.correctAnswer.answerText}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <mat-header-cell *matHeaderCellDef class="text-cell"> Created At</mat-header-cell>
            <mat-cell *matCellDef="let question" class="text-cell"> {{question.createdAt | date}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="options">
            <mat-header-cell *matHeaderCellDef class="button-cell">  </mat-header-cell>
            <mat-cell *matCellDef="let question" class="button-cell">  
                <button mat-icon-button (click)="deleteQuestionDialog(question.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button routerLink='details/{{question.id}}' >
                    <mat-icon>info</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

    </mat-table>
    
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <mat-paginator [pageSizeOptions]="[5]"
        [hidePageSize]="true"
        showFirstLastButtons
        (page)="onChangePage($event)"
        [length]="questions.totalRecords">
    </mat-paginator>

}
@else {
    <mat-spinner mode="indeterminate"></mat-spinner>
}

</div>